@page "/"

<PageTitle>Calulator</PageTitle>

<h1>Caculator</h1>



<h2>Input A</h2>

<table id="calcu"> 
    <tr> 
        <td colspan="3"> 
            <input type="text" id="result"> 
        </td> 
    </tr> 
  
    <tr> 
        <td><input type="button" value="A+B"></td> 
    </tr>
    <tr> 
        <td><input type="button" value="A-B"></td> 
    </tr>
    <tr> 
        <td><input type="button" value="A*B"></td> 
    </tr>
    <tr> 
        <td><input type="button" value="A/B"></td> 
    </tr>
    <tr> 
        <td><input type="button" value="A==B"></td> 
    </tr>
    <tr> 
        <td><input type="button" value="A^B"></td> 
    </tr>
    <tr> 
        <td><input type="button" value="A log B"></td> 
    </tr>
      <tr> 
            <td><input type="button" value="A root B"></td> 
        =</tr>
</table> 