@page "/"
@rendermode InteractiveServer

<PageTitle>Calculator</PageTitle>

<div class="calculator-header">
    <h1>Calculator</h1>
    <button class = "clear" @onclick="Clear">Clear</button>
</div>

<div class="instruction-section">
    <p id="clear-Message">Enter value(s) below and select an operation</p>
    @if (hasError)
       {
           <div id="Error-message" class="error-message">
               @ErrorMessage
           </div>
       }
       else if (Result.HasValue)
       {
           <div id="Result">
               @Result
           </div>
       }
    
</div>

<div class="calculator-container">
   
    <div class="input-section">
        <label for="inputA">Input A:</label>
        <input id="inputA" @bind="InputA"/>
        <label for="inputB">Input B:</label>
        <input id="inputB" @bind="InputB"/>
    </div>


    <div class="operation-section">
        <div>
            <h3 class="line">A and B</h3>
            <button id="Add" class="button" @onclick="Add">A + B</button>
            <button class="button" @onclick="Subtract">A - B</button>
            <button class="button" @onclick="Multiplication">A * B</button>
            <button id="Divide" class="button" @onclick="Division">A / B</button>
            <button class="button" @onclick="Equals">A == B</button>
            <button class="button" @onclick="RaiseToPower">A ^ B</button>
            <button class="button" @onclick="LogarithmOfNumber">A log B</button>
            <button class="button" @onclick="RootOfNumber">A root B</button>
        </div>
        <div>
            <h3 class="line">A only</h3>
            <button class="button" @onclick="FactorialOfNumber">A!</button>
            <button class="button" @onclick="SineOfA">Sin A</button>
            <button class="button" @onclick="CosineOfA">Cos A</button>
            <button class="button"@onclick="TangentOfA">Tan A</button>
            <button class="button" @onclick="ReciprocalOfA">1 / A</button>
        </div>
    </div>
</div>

<style>
    .clear{
      width:200px;
    
    }
    .calculator-header {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;
           
        }
      .operation-section{
      
               width: 50%;
              display: flex; 
              justify-content: space-between;
      }
      .line{
      background-color: #EBEBEB;
      Foreground(text): #000000
      width: 250px;
      }
          
      .button{
      display: block;
       width:200px;
       Background: #EBEBEB;
       Foreground(text): #000000
      }
   
     .instruction-section {
            margin-top: 20px;
            background-color:#FFECD7;
            width: 50%;      
      }
     #Error-message{
      margin-top: 20px;
      background-color:#B70F0A;
      Foreground(text): #000000
       width: 50%;  
     }
</style>